data/tei.dtd

<!--
    BULLINGER DIGITAL IN TEI-XML
    - by Volk et al., November 30, 2022

    *** DTD (Doctype definition) ***

    - documentation:
        - official: https://www.tei-c.org/release/doc/tei-p5-doc/en/html/
        - wiki: https://en.wikipedia.org/wiki/Text_Encoding_Initiative
    - source: https://www.bullinger-digital.ch/
        - letters: https://www.bullinger-digital.ch/letter/<ID: int>
        - listings:
            - dates: https://www.bullinger-digital.ch/lists/date
            - correspondents:
                - persons: https://www.bullinger-digital.ch/lists/persons
                - roles (titles/professions): https://www.bullinger-digital.ch/lists/titles
                - organizations (institutions): https://www.bullinger-digital.ch/lists/institutions
            - archives: https://www.bullinger-digital.ch/lists/archives
            - places: https://www.bullinger-digital.ch/lists/locations
-->
<!-- TEI-ROOT
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-TEI.html -->
<!ELEMENT TEI (teiHeader | facsimile | text)*>
    <!-- official TEI namespace URI (since 2002) -->
    <!ATTLIST TEI xmlns CDATA #REQUIRED>
    <!-- informal signature [quadruple (file-type, edition-abbrev., edition-nr, letter-nr)] -->
    <!ATTLIST TEI xml:id CDATA #REQUIRED>
    <!-- actual file (resp. letter) identifier [<ID: int> (bullinger-digital); "0" for listings] -->
    <!ATTLIST TEI n CDATA #REQUIRED>
<!-- e.g. <TEI xmlns="http://www.tei-c.org/ns/1.0" xml:id="Brief_HBBW_1_42" n="10070"> -->

<!-- TEI-HEADER
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-teiHeader.html -->
<!ELEMENT teiHeader (fileDesc, profileDesc, revisionDesc)>
    <!-- metadata language [always "de" in this version] -->
    <!ATTLIST teiHeader xml:lang CDATA #IMPLIED>

<!-- bibliographic description
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-fileDesc.html -->
<!ELEMENT fileDesc (titleStmt, publicationStmt?, seriesStmt?, sourceDesc)>

<!-- title https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-titleStmt.html -->
<!ELEMENT titleStmt (title)>
<!-- https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-title.html -->
<!ELEMENT title (#PCDATA)>
    <!-- {"file", "publication", "Literatur", "Gedruckt"} -->
    <!ATTLIST title subtype CDATA #IMPLIED>
<!-- e.g. <title subtype="file">[Konrad Gessner] / Zürich AN [Bullinger] / Zürich, 1548/49 oder 1553</title>
note: s.l. (= "sine loco", ohne Ort), s.n. (= "sine nomine", ohne Absender oder Empfänger); "[...]": Angabe unsicher -->

<!-- publisher
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-publicationStmt.html -->
<!ELEMENT publicationStmt (publisher?, pubPlace?, address?, authority?, date?, (idno)*)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT pubPlace (#PCDATA)>
<!ELEMENT address (addrLine)+>
<!ELEMENT addrLine (#PCDATA)>
<!ELEMENT authority (#PCDATA)>
<!ELEMENT idno (#PCDATA)>
    <!-- {"isbn", "url", "gnd", "wiki", "histhub", as well as various doc-types (like "Autograph", "Kopie", etc.)} -->
    <!ATTLIST idno type CDATA #REQUIRED>
<!-- e.g.:
<publicationStmt>
     <publisher>Theologischer Verlag Zürich (TVZ)</publisher>
     <pubPlace>Zürich</pubPlace>
     <address>
          <addrLine>TVZ Theologischer Verlag Zürich AG</addrLine>
          <addrLine>Badenerstrasse 73</addrLine>
          <addrLine>8004 Zürich</addrLine>
     </address>
     <authority>Institut für Schweizerische Reformationsgeschichte (IRG)</authority>
     <date when="2013"/>
     <idno type="ISBN">ISBN 978-3-290-17664-8</idno>
     <idno type="url">http://teoirgsed.uzh.ch/SedWEB.cgi?Alias=Briefe&amp;Lng=1&amp;aheight=910&amp;PrjName=Bullinger+-+Briefwechsel&amp;fld_418=2165</idno>
</publicationStmt>
-->

<!-- edition-name (publication-title)
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-seriesStmt.html -->
<!ELEMENT seriesStmt (title | idno | biblScope)*>
<!ELEMENT biblScope (#PCDATA)>
    <!-- {"edition", "volume", "page"} -->
    <!ATTLIST biblScope type CDATA #IMPLIED>
<!-- e.g.
<seriesStmt>
     <title subtype="publication">Heinrich Bullinger Briefwechsel Band 15</title>
     <biblScope type="editor">Bodenmann, Reinhard; Kess, Alexandra; Steiniger, Judith</biblScope>
     <biblScope type="edition">HBBW</biblScope>
     <biblScope type="volume">15</biblScope>
     <biblScope type="volumes">20</biblScope>
     <biblScope type="period">1545</biblScope>
     <biblScope type="page">336</biblScope>
     <biblScope type="pages">746</biblScope>
</seriesStmt>
-->

<!-- DATES -->
<!ELEMENT date (#PCDATA | note)*>
    <!-- fixed date -->
    <!ATTLIST date when CDATA #IMPLIED>
    <!-- ranges (lower/upper-bound) -->
    <!ATTLIST date min CDATA #IMPLIED>
    <!ATTLIST date max CDATA #IMPLIED>
    <!-- verification {"high", "low" (= note verified)}; "low" is usually denoted by "[...]" (for fixed dates only) -->
    <!ATTLIST date cert CDATA #IMPLIED>
<!-- more specific info than when/min/max as element content -->
<!-- e.g. <date min="1548-00-00" max="1553-00-00" cert="low">1548/49 oder 1553</date> -->

<!-- DOCUMENTS (ManuScripts)-->
<!ELEMENT sourceDesc (msDesc | listPerson | listPlace)*>
<!ELEMENT msDesc (msIdentifier | history | physDesc | msContents | additional)*>
    <!ATTLIST msDesc type CDATA #IMPLIED>
    <!ATTLIST msDesc subtype CDATA #IMPLIED>
    <!ATTLIST msDesc xml:lang CDATA #IMPLIED>
<!-- sources (archive, signature, old signature, [xerox-copy, microfilm, remarks]) -->
<!ELEMENT msIdentifier (settlement | idno | institution | repository | altIdentifier)*>
<!ELEMENT institution (#PCDATA)>
<!ELEMENT repository (name | date | note | ref)*>
    <!ATTLIST repository ref CDATA #IMPLIED>
<!ELEMENT altIdentifier (idno)>
<!-- e.g.
<msDesc type="Brief" subtype="Autograph" xml:lang="de">
  <msIdentifier>
      <settlement ref="place#587">Zürich</settlement>
      <institution>Staatsarchiv</institution>
      <idno type="Autograph">E II 359,2807</idno>
      <repository ref="archive#94">
           <name>Zürich StA</name>
           <ref target="https://www.zh.ch/de/direktion-der-justiz-und-des-innern/staatsarchiv.html"/>
      </repository>
  </msIdentifier> -->
<!-- history [e.g. "16. Jh."] -->
<!ELEMENT history (origin)>
<!ELEMENT origin (p)>
<!-- [physical] properties -->
<!ELEMENT physDesc (objectDesc | sealDesc)*>
<!-- state [e.g. "beschädigt"] -->
<!ELEMENT objectDesc (p)*>
<!-- seal(s) [e.g. "Siegelspuren"] -->
<!ELEMENT sealDesc (seal)*>
<!ELEMENT seal (p)*>
<!-- e.g.
<physDesc>
    <objectDesc><p>beschädigt</p></objectDesc>
    <sealDesc>
    <seal><p>Siegelspur</p></seal>
    </sealDesc>
</physDesc>
-->

<!-- CONTENTS -->
<!ELEMENT msContents (#PCDATA | msItem | summary)*>
<!ELEMENT msItem (author?, incipit?, textLang?)>
<!-- the person who wrote the letter (manually); sender != author especially in case of "Originals" -->
<!ELEMENT author (#PCDATA)>
<!-- first sentence -->
<!ELEMENT incipit (#PCDATA)>
<!-- language (for more detailed information see: langUsage)-->
<!ELEMENT textLang (#PCDATA)>
<!-- regest (= Zusammenfassung)-->
<!ELEMENT summary (#PCDATA | p)*>
<!ELEMENT p (#PCDATA | note | foreign | pb | date | persName | placeName | ref | hi | s)*>
    <!ATTLIST p xml:id CDATA #IMPLIED>
<!-- note: paragraphs in regests may be linked with divisions in letters. E.g.
<summary>
   <p xml:id="regest1">...</p>
   <p xml:id="regest2">...</p>
</summary>
<div xml:id="div1" corresp="regest1">
     <p>
          <s xml:lang="de" type="auto">Unser fruntlich grus, willig dienst, und was wir ehren, liebs und guts vermögen, zuvor.</s>
     </p>
     <p>...</p>
</div>
-->

<!-- Literatur (usually mentions/citations) & Gedruckt (transcriptions[/translations]) -->
<!ELEMENT additional (listBibl | note)*>
<!ELEMENT listBibl (bibl)*>
<!ELEMENT bibl (title | note)*>
    <!ATTLIST bibl type CDATA #IMPLIED>
    <!ATTLIST bibl subtype CDATA #IMPLIED>
<!--
<!ELEMENT citedRange (#PCDATA)>
    <!ATTLIST citedRange target CDATA #IMPLIED>
    <!ATTLIST citedRange from CDATA #IMPLIED>
    <!ATTLIST citedRange to CDATA #IMPLIED>
    <!ATTLIST citedRange unit CDATA #IMPLIED>
-->

<!-- SCAN IMAGES -->
<!ELEMENT facsimile (graphic)*>

<!-- ADDRESSES (correspondents: persons/roles/orgs) -->
<!ELEMENT profileDesc (correspDesc | creation | langUsage)*>
<!ELEMENT correspDesc (correspAction | correspContext)*>
    <!ATTLIST correspDesc ref CDATA #IMPLIED>
<!ELEMENT correspContext (ref)*>
<!ELEMENT ref (#PCDATA)>
    <!ATTLIST ref type CDATA #IMPLIED>
    <!ATTLIST ref target CDATA #IMPLIED>
<!ELEMENT creation (date)*>
<!-- type: sent/received -->
<!ELEMENT correspAction (persName | roleName | orgName | note | place | date)*>
    <!ATTLIST correspAction type CDATA #IMPLIED>
<!-- persons -->
<!ELEMENT listPerson (persName)*>
    <!ATTLIST listPerson xml:id CDATA #IMPLIED>
<!-- (also used for named entities in texts, regests and footnotes) -->
<!ELEMENT persName (#PCDATA | forename | surname | addName | place | roleName | orgName | note | graphic | ref | persName | placeName | idno)*>
    <!ATTLIST persName xml:id CDATA #IMPLIED>
    <!ATTLIST persName ref CDATA #IMPLIED>
    <!ATTLIST persName cert CDATA #IMPLIED>
<!ELEMENT forename (#PCDATA)>
    <!ATTLIST forename cert CDATA #IMPLIED>
<!ELEMENT surname (#PCDATA)>
    <!ATTLIST surname cert CDATA #IMPLIED>
<!-- normalized name, inclusively aliases [e.g. "Gwalther (Walter, Gualtherus, Walthart), Rudolf"] -->
<!ELEMENT addName (#PCDATA | forename | surname)*>
    <!ATTLIST addName type CDATA #IMPLIED>
    <!ATTLIST addName xml:id CDATA #IMPLIED>
<!-- portraits (as wells as scan-images) -->
<!ELEMENT graphic EMPTY>
    <!ATTLIST graphic xml:id CDATA #IMPLIED>
    <!ATTLIST graphic type CDATA #IMPLIED>
    <!ATTLIST graphic url CDATA #IMPLIED>
    <!ATTLIST graphic n CDATA #IMPLIED>
<!-- roles [titles/professions], e.g. "Geistliche", "Professoren", "Bischof" -->
<!ELEMENT roleName (name | place)*>
    <!ATTLIST roleName type CDATA #IMPLIED>
    <!ATTLIST roleName ref CDATA #IMPLIED>
<!-- organizations[/institutions], e.g. Kirche(n), Gemeinde(n), Synode(n), Kapitel, ... -->
<!ELEMENT orgName (name | place)*>
    <!ATTLIST orgName type CDATA #IMPLIED>
    <!ATTLIST orgName ref CDATA #IMPLIED>
<!ELEMENT name (#PCDATA)>
    <!ATTLIST name type CDATA #IMPLIED>
    <!ATTLIST name ref CDATA #IMPLIED>
    <!ATTLIST name cert CDATA #IMPLIED>
<!-- e.g.
<correspAction type="sent">
  <persName ref="person#495" cert="high">
      <forename cert="high">Heinrich</forename>
      <surname cert="high">Bullinger</surname>
      <graphic type="portrait" url="portraits/495_Bullinger_Heinrich.jpg"/>
      <ref type="wikipedia" target="https://de.wikipedia.org/wiki/Heinrich_Bullinger"/>
  </persName>
  <location cert="high">
      <settlement ref="place#587">Zürich</settlement>
      <district>Zürich</district>
      <country>Schweiz</country>
      <geo>47.370093 8.544054</geo>
  </location>
  <date when="1549-10-03" cert="low"/>
</correspAction>
Note: It's not always that simple. There are cases like
"Bullinger im Namen der in Basel versammelten Pfarrer von Zürich und Genf"
-->

<!-- LOCATIONS (Places) -->
<!-- listing (see "places.xml")
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-listPlace.html -->
<!ELEMENT listPlace (place)*>
<!-- METADATA -->
<!ELEMENT place (settlement | district | country | geo)*>
<!-- https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-place.html -->
    <!ATTLIST place xml:id CDATA #IMPLIED>
    <!-- verification {"high", "low"} ("low" usually indicated by '[' ... ']') -->
    <!ATTLIST place cert CDATA #IMPLIED>
    <!-- (reference to external listing) -->
    <!ATTLIST place source CDATA #IMPLIED>
<!ELEMENT settlement (#PCDATA)>
    <!ATTLIST settlement ref CDATA #IMPLIED>
<!ELEMENT district (#PCDATA)>
    <!-- <!ATTLIST district ref CDATA #IMPLIED> -->
<!ELEMENT country (#PCDATA)>
    <!-- <!ATTLIST country ref CDATA #IMPLIED> -->
<!-- coordinates, e.g. <geo>47.55839 7.57327</geo> (latitude/longitude [Breite/Länge], tuple separated by a blank) -->
<!ELEMENT geo (#PCDATA)>
<!-- e.g.
    <location cert="high">
        <settlement ref="place#587">Zürich</settlement>
        <district>Zürich</district>
        <country>Schweiz</country>
        <geo>47.370093 8.544054</geo>
    </location>
-->

<!-- NEs (named entities in letters, regests and footnotes)
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-placeName.html -->
<!ELEMENT placeName (#PCDATA | placeName)*>
    <!ATTLIST placeName ref CDATA #IMPLIED>
    <!ATTLIST placeName cert CDATA #IMPLIED>
<!-- TODO: mountains, rivers, lakes, etc.
<!ELEMENT geogName (#PCDATA | placeName | geo | geogName)*>
    <!ATTLIST geogName type CDATA #IMPLIED>
    <!ATTLIST geogName ref CDATA #IMPLIED>-->
<!-- see also: persName -->

<!-- LANGUAGES
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-langUsage.html -->
<!ELEMENT langUsage (language)*>
    <!ELEMENT language (#PCDATA)>
        <!-- iso-code [e.g. "de"] -->
        <!ATTLIST language ident CDATA #IMPLIED>
        <!-- percentage [e.g. "42"] -->
        <!ATTLIST language usage CDATA #IMPLIED>
<!-- e.g.:
<langUsage>
     <language ident="de" usage="42">Deutsch</language>
     <language ident="la" usage="58">Latein</language>
</langUsage>-->

<!-- REVISION
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-revisionDesc.html -->
<!ELEMENT revisionDesc EMPTY>
    <!-- [file] state {"abgeschlossen", "unklar", "ungültig", ... } -->
    <!ATTLIST revisionDesc status CDATA #IMPLIED>
<!-- note: files with state != "abgeschlossen" or "unklar" MAY BE IGNORED -->
<!-- e.g.: <revisionDesc status="abgeschlossen"/> -->

<!-- LETTER, FOOTNOTES, REGEST -->
<!-- https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-text.html -->
<!ELEMENT text (body)*>
    <!ATTLIST text xml:lang CDATA #IMPLIED>
<!ELEMENT body (div)*>
<!ELEMENT div (p)*>
    <!ATTLIST div xml:id CDATA #IMPLIED>
    <!-- links a letter-division with a regest-paragraph (-> summary) -->
    <!ATTLIST div corresp CDATA #IMPLIED>
<!-- links to other letters -->
<!ELEMENT link (#PCDATA)>
    <!ATTLIST link target CDATA #IMPLIED>
<!-- e.g.: <ref target="file#42">[Nr. 4242]</ref> -->

<!-- (numbered) SENTENCES
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-s.html -->
<!ELEMENT s (#PCDATA | note | ptr | pb | foreign | persName | placeName | del | zzl)*>
    <!-- lang: (main-)language (iso-code) [there may be code-switchings as well] -->
    <!ATTLIST s xml:lang CDATA #REQUIRED>
    <!-- type: {"auto" or "manual"}; refers to xml:lang (manually or automatically set)-->
    <!ATTLIST s type CDATA #REQUIRED>
    <!-- number [beginning with n=1] -->
    <!ATTLIST s n CDATA #IMPLIED>

<!-- CODE-SWITCHINGS (identifies a word or phrase as belonging to some language other than that of the surrounding text)
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-foreign.html -->
<!ELEMENT foreign (#PCDATA | note | pb | ptr | persName | placeName)*>
    <!-- iso-code -->
    <!ATTLIST foreign xml:lang CDATA #REQUIRED>

<!-- DELETION (text marked as deleted)
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-del.html -->
<!ELEMENT del (#PCDATA)>

<!-- various [types of] NOTES (in metadata/regest and letter/footnotes)
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-note.html -->
<!ELEMENT note (#PCDATA | foreign | ptr | persName | placeName | note | ref | pb | hi | abbr | zfn | qv)*>
    <!-- footnote-id, resp. ptr-reference (present if type="footnote"); "fn"+reference -->
    <!ATTLIST note xml:id CDATA #IMPLIED>
    <!-- metadata: {"Datum", "Person", ..., "Xeroxkopie", "Mikrofilm", ...}; text: {"footnote", "sub", "sup", ...} -->
    <!ATTLIST note type CDATA #IMPLIED>
    <!-- footnote reference (alpha/num-marker: [a-z]+ OR \d+) -->
    <!ATTLIST note n CDATA #IMPLIED>
<!-- e.g.: <note xml:id="fn42" type="footnote" n="42">[footnote text]</note> -->
<!-- note: attr. id/n only in footnotes/pointers -->

<!-- start of FOOTNOTE-RANGES (points to the actual footnote(/text)
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-ptr.html -->
<!ELEMENT ptr EMPTY>
    <!-- == note xml:id [footnote, resp. pointer-id] -->
    <!ATTLIST ptr target CDATA #REQUIRED>
    <!-- {"footnote"} [redundant: pointers appear only together with footnotes] -->
    <!ATTLIST ptr type CDATA #REQUIRED>
    <!-- == note n [footnote reference] -->
    <!ATTLIST ptr n CDATA #REQUIRED>
<!-- e.g.: <ptr target="#fn42" type="footnote" n="42"/> [affected text] [actual footnote #42] -->

<!-- PAGE-BREAKS (letters/regests)
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-pb.html -->
<!ELEMENT pb EMPTY>
    <!-- {"edition", "scan"} -->
    <!ATTLIST pb type CDATA #REQUIRED>
    <!-- edition >> int; scan >> signature -->
    <!ATTLIST pb next CDATA #REQUIRED>
<!-- e.g.: <pb type="edition" next="42"/>, <pb type="scan" next="E II 235,420"/> -->

<!-- "highlighted" [usually just ITALIC (editorial notes)]
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-hi.html -->
<!ELEMENT hi (#PCDATA | note | ptr | foreign | persName | placeName | ref | abbr | qv | zfn)*>

<!-- ABBREVIATIONS(/publication titles) [e.g. "HBBW", "SI", "BucerDS", but also "Epistolae Tigurinae", etc.]
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-abbr.html -->
<!ELEMENT abbr (#PCDATA | placeName)*>

<!-- TODO: NOT PART OF THE TEI-TAG-SET (ignore?) -->
<!ELEMENT zzl (#PCDATA)>
<!-- e.g.: <zzl>zl16048-2E</zzl> ("Zielzeilenverweise"? [in der gedruckten HBBW-Edition])-->
<!ELEMENT zfn (#PCDATA)>
<!-- e.g.: <zfn>fn17153-5</zfn> (Fussnotenzeilenverweise?) -->
<!ELEMENT qv (#PCDATA)>
<!-- e.g.: <qv>fn17174-7</qv>, <qv>zl17153-5</qv>; may be resolved into zzl/qv? -->
